---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Tak for testimonial">
  <p>Tak, for at sende din besked ind til os. Vi vender tilbage hurtigst muligt, enten på din booking eller dit ris eller ros.</p>
</MainLayout>
