---
import Form from "../components/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SomeButton from "../components/SomeButton.astro";
import "../styles/style.css";
---

<MainLayout title="">
  <article>
    <div class="indexbottom">
      <Form />
      <SomeButton />
    </div>
  </article>
</MainLayout>

<style></style>
