---
import Testimonials from "../components/Testimonials.astro";
import Form from "../components/addForm.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>LØS DE KONGELIGE MYSTERIER</h1>
  </body>
  <Form />
  <Testimonials />
</html>/* Slet alt og så import MainLayout from "../layouts/MainLayout.astro" */
