---
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
import IndexButton from "../components/IndexButton.astro";
---


<MainLayout title="">
	<h1>LØS DE KONGELIGE MYSTERIER</h1>
	<IndexButton />
	<Testimonials />
  </MainLayout>



  