---
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
import IndexButton from "../components/IndexButton.astro";
import SomeButton from "../components/SomeButton.astro";
import Room1 from "../components/Room1.astro";
import Room2 from "../components/Room2.astro";
import Room3 from "../components/Room3.astro";
---

<MainLayout title="">
  <article>
    <h1>LØS DE KONGELIGE MYSTERIER</h1>
    <IndexButton />
    <SomeButton />
  </article>
  <Room1 />
  <Room2 />
  <Room3 />
  <Testimonials />
</MainLayout>

<style>
  h1 {
    position: relative;
    top: 100px;
    margin-bottom: 17rem;
  }

  article {
    background-image: url(src/img/fotos/royal-escapes-2.jpeg);
    background-size: cover;
  }
</style>
