---
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
---


<MainLayout title="Royal Escapes">
	<h1>LØS DE KONGELIGE MYSTERIER</h1>
	<p>Her kommer indholdet</p>
	<Testimonials />
  </MainLayout>

