---
---

<form>
    <label for="fornavn"></label>
    <input type="text" id="Navn" name="navn" placeholder="Navn">

    <label for="email"></label>
    <input type="text" id="email" name="email" placeholder="Email">

    <label for="email"></label>
    <input type="text" id="telefon" name="telefon" placeholder="Telefon">

    <label for="besked"></label>
    <textarea type="text" id="besked" name="besked" placeholder="Besked..." style="height: 200px"></textarea>

    <input type="submit" value="Send">
  </form>

<style>

form {
    color: #7d7673e0;
    font-family: "mr-eaves-xl-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin-top: 2rem;
}
input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea[type="text"] {
  width: 100%;
  background-color: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="submit"] {
  border: 1px solid white;
  background-color: transparent;
  padding: 12px 20px;
  cursor: pointer;
  color: #584c46;
}
</style>


<!-- <form>
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" required />
  
    <label for="long">Long Description:</label>
    <textarea id="long" name="long" rows="6" required></textarea>
  
    <button type="submit">Submit</button>
  </form> -->
  
  <!-- <script>
    function addTestimonial(newTestimonial) {
      //dette er funktionen der putter data i tabbellen i databasen
  
      const url = "https://ciaqrilyjthqvwujzgne.supabase.co/rest/v1/T2_testimonials";
      const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpYXFyaWx5anRocXZ3dWp6Z25lIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzk0MDU1OTcsImV4cCI6MTk5NDk4MTU5N30.HvOlbfgbMwKnd2Dh6FMgSwgo33XsZM1nwvQXD-QrgUM";
  
      const options = {
        method: "POST", //post gør at den putter noget i tabellen istedet for at hente
        headers: {
          apikey: api,
          Authorization: "Bearer " + api,
          "Content-Type": "application/json",
          Prefer: "return=representation",
        },
        body: JSON.stringify(newTestimonial), //laver variablen newTestimonial til json (her er det et objekt med 2 værdier)
      };
  
      console.log("options:", options);
  
      fetch(url, options)
        .then((res) => res.json())
        .then((data) => {
          console.log("data:", data);
          //når dden er færdig med at putte i databasen går den til filen addTestimonialfeedback "/" er for at sikre at den leder i roden
          window.location.href = "/addTestimonialFeedback";
        });
    }
  
    const form = document.querySelector("form");
    console.log("form.elements", form.elements);
  
    form.addEventListener("submit", (e) => {
      e.preventDefault();
  
      const obj = {
        title: form.elements.title.value,
        description: form.elements.long.value,
      };
  
      addTestimonial(obj);
    });
  </script> -->
  