---
import LangButton from "../components/LangButton.astro";
---

<header>
  <nav>
    <div class="buttons">
      <ul class="ul">
        <li>
          <LangButton variant="menu" size="large" linkTo="/index.html" text="DK" />
        </li>
        <li>
          <LangButton variant="menu" size="large" linkTo="/index.html" text="EN" />
        </li>
      </ul>
    </div>

    <div class="logobrand">
      <img src="public/img/logos/logo_hvid@3x.png" alt="Royal Escapes logo" />
    </div>

    <div id="burger-c" class="burgermenu-container minnav">
      <img class="burgermenu" src="public/img/fotos/menu.svg" alt="" />
      <div class="mobil-menu menu-v">
        <ul>
          <li><a href="/index.html">Forside</a></li>
          <li><a href="/contact.html">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <!-- 
    <div class="minnav">
      <ul>
        <li>
          <a href="/index.html">Forside</a>
        </li>
        <li>
          <a href="/contact.html">Kontakt</a>
        </li>
      </ul>
    </div> -->
  </nav>
</header>

<style>
  .burgermenu-container {
    display: block;
    padding-left: 3.2rem;
  }

  .burgermenu {
    margin-top: 20px;
    width: 37px;
  }

  .mobil-menu {
    display: block;
  }

  .menu-v {
    display: none;
  }

  .mobil-menu li {
    transition: none;
  }

  .mobil-menu a {
    text-decoration: none;
    color: #fefefe;
    gap: 0.2rem;
  }

  .burgermenu img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }
  header {
    padding: 0.5rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-right: 2rem;
    /* margin-left: 1rem;  */
  }

  .logobrand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    /* margin: 0.5rem; */
  }

  .logobrand img {
    width: 140px;
    height: auto;
  }

  .minnav ul {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .minnav a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
  }

  .button ul {
    /* gap: 10px; */
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .ul li {
    list-style-type: none;
  }
  /* 
  @media (min-width: 800px) {
    .burgermenu-container {
      display: block;
    }

    .burgermenu {
      margin-top: 20px;
      width: 37px;
    }

    .menu-v {
      display: block;
    }

    .mobil-menu li {
      transition: none;
    }

    .mobil-menu a {
      text-decoration: none;
      color: #fefefe;
      gap: 0.2rem;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .logobrand {
      display: inline-block;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      margin: 0.5rem;
    }

    .logobrand img {
      width: 150px;
      height: auto;
    }

    .minnav ul {
      list-style-type: none;
      display: contents;
      display: flex;
      gap: 10px;
    }

    .button ul {
      display: flex;
      flex-direction: row;
      gap: 10px;
      list-style: none;
    }

    header {
      padding: 0.5rem;
    }

    .ul {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .ul li {
      list-style-type: none;
    }
  } */
</style>

<script>
  document.querySelector("#burger-c").addEventListener("click", burgemenu);

  function burgemenu() {
    document.querySelector(".mobil-menu").classList.toggle("menu-v");
  }
</script>
