<section>
  <button>
    <p>Opdag mere</p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="arrow.json" background="transparent" speed="0.5" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </button>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }
  button p {
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
  }

  button {
    border: none;
    background-color: transparent;
    position: relative;
    left: 50%;
    top: 100%;
  }

  button: :hover {
  }
</style>
