
<button>
<p>Opdag mere</p>
</button>


<style>

button p {
font-family: "poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}

button {
    border: none;
    background-color: transparent;
    position: relative;
    left: 50%;
    top: 100%;

}

button: :hover {

}





</style>