<section class="room">
  <div class="arrow">
    <img src="src/img/logos/pil-3@2x.png" alt="Royal Escapes logo" />
  </div>
  <img src="src/img/fotos/room3.png" alt="" />
  <div class="logobtn">
    <!-- <img src="src/img/logos/the_royal_playroom_hvid@3x.png" alt="" />
    <p>Afslør sandheden om kongehuset og slip ud</p> -->
    <button><a href="">Book nu</a></button>
  </div>

  <style>
    @media (min-width: 800px) {
      section {
        display: flex;
        flex-direction: row;
        padding: 2rem;
      }
      img {
        height: auto;
        width: 500px;
      }

      button {
        position: relative;
        border: 1px solid white;
        background-color: transparent;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }

      .room {
        position: relative;
        left: 100px;
      }

      .logobtn {
        position: absolute;
        top: 150px;
      }

      .logobtn p {
        text-align: center;
      }

      .logobtn button {
        margin: 0;
        position: absolute;
        top: 380px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      button a {
        text-decoration: none;
        font-family: "poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        color: white;
      }
      .arrow {
        position: absolute;
        left: -120px;
        top: 350px;
      }
      .arrow img {
        width: 110px;
        height: auto;
      }ht: auto;
      }
    }
  </style>
</section>
