<ul>
  <li><a class="fa fa-instagram" href="#"></a></li>
  <li><a class="fa fa-facebook" href="#"></a></li>
  <li><a class="fa fa-twitter" href="#"></a></li>
  <li><a class="fa fa-youtube" href="#"></a></li>
  <li><a class="fa fa-tiktok" href="#"></a></li>
</ul>

<style>
  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: -10rem; /* PLacering på siden */
  }

  a {
    text-decoration: none;
  }

  .fa {
    font-size: 25px;
  }
  .fa-twitter {
    color: white;
  }
  .fa-instagram {
    color: white;
  }
  .fa-facebook {
    color: white;
  }

  .fa-tiktok {
    color: white;
  }

  .fa-youtube {
    color: white;
  }
</style>
