<!-- ---
const url = "https://inoovrqyocblpfjinodr.supabase.co/rest/v1/Testimonials";
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlub292cnF5b2NibHBmamlub2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE5Nzg0NzMsImV4cCI6MTk5NzU1NDQ3M30.8uiWz0Xo5WmwKbR6oLD1hSTTd-3PII1pFZlaZ9NEza4";
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
console.log(data);
import Testimonial from "./Testimonial.astro";
---

<section>
  <div class="arrow">
    <h2> Det siger vores gæster</h2>
    <img src="/img/logos/pil-2@2x.png" alt="Royal Escapes logo" />
    <img class="ratings" src="/img/fotos/ratings@4x.png" alt="Royal Escapes logo" />
    <div class="testimonial">
      {
        data.map((testimonial) => {
          return <Testimonial data={testimonial} />;
        })
      }
    </div>
  </div>
</section>

<style>

  section {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .ratings {
    position: absolute;
    top:-60px;
    left: -276px;
    width: 200px;
    height: auto;
  }

  .testimonial {
    position: absolute;
    top: 166.5rem;
    width: 1000px;
    height: 289px:
  } 

  .container {
    position: relative;
    height: 300px;
    width: 750px;
    background-color: #252525;
  }
  .arrow img {
    position: relative;
  }
  img {
    width: 1000px;
    height: auto;
    position: relative;
  }

  .section h2 {
    position: relative;
    /* top: -140px;
    left: -80px; */
  }

  .container p {
    padding: 2rem;
  }
</style> -->
