<!-- ---
const url = "";
const api = "";
const options = {
  method: "GET",
  headers: {
    apikey: api,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);

import Testimonial from "../components/Testimonial.astro";
---

{
  data.map((testimonial) => {
    return <Testimonial data={testimonial} />;
  })
} -->
<section>
  <div class="container">
    <h2>Det siger vores gæster</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus porro in molestiae maxime libero commodi quo animi iure optio magni quam fugiat harum facere enim, nobis provident ex excepturi.</p>
    <div class="arrow">
      <img src="src/img/logos/pil-2@2x.png" alt="Royal Escapes logo" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 15rem;
  }
  .container {
    position: relative;
    height: 300px;
    width: 750px;
    background-color: #252525;
  }
  .arrow img {
    position: absolute;
    top: -60px;
    left: -30px;
  }
  img {
    width: 1000px;
    height: auto;
  }

  .container h2 {
    position: absolute;
    top: -140px;
    left: -80px;
  }

  .container p {
    padding: 2rem;
  }
</style>
