---
const { data } = Astro.props;

/* Funktion der gør den kun viser 20 tegn i det man sender ind*/
function getFirstNchars(str, length) {
  return str.substring(0, length);
}
---

<article>
  <p>{data.Navn}</p>
  <p>{data.Email}</p>
  <p>{data.Telefon}</p>
  <p>{getFirstNchars(data.Besked, 20)}... <a href={"testimonials/" + data.id}>læs mere...</a></p>
</article>

<style>
  article {
    display: flex;
    justify-content: center;
    display: list-item;
    padding: 2rem;
    margin: 5rem;
    background-color: #252525;
  }

  .arrow img {
    position: relative;
  }
  img {
    width: 1000px;
    height: auto;
  }

  .section h2 {
    position: relative;
    /* top: -140px;
    left: -80px; */
  }

  .container p {
    padding: 2rem;
  }
</style>
