---
const { data } = Astro.props;

/* Funktion der gør den kun viser 20 tegn i det man sender ind*/
function getFirstNchars(str, length) {
  return str.substring(0, length);
}
---

<article>
  <p>{data.Navn}</p>
  <p>{data.Email}</p>
  <p>{data.Telefon}</p>
  <p>{getFirstNchars(data.Besked, 20)}... <a href={"testimonials/" + data.id}>læs mere...</a></p>
</article>

<style>
  article {
    display: flex;
    justify-content: center;
    display: list-item;
    padding: 2rem;
  }
</style>
