<section class="container">
  <div>
    <h2>Oplevelser hos Royal Escapes</h2>
    <div class="test">
      <img src="src/img/fotos/tiktiok-test.png" alt="Royal Escapes logo" />
    </div>
    <div class="arrow">
      <img src="src/img/logos/pil-4@2x.png" alt="Royal Escapes logo" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 300px;
  }
.container {
    position: relative;
}
  .test img {
    height: 700px;
    width: 320px;
  }
  .arrow img {
    position: absolute;
    top: 200px;
    left:300px;
  }
  img {
    width: auto;
    height: 500px;
  }

  .section h2 {
    width: 320px; */
    position: absolute;
    top: -140px;
    left: 100px; */
  }
</style>
