<section>
  <div class="container">
    <h2>Oplevelser hos Royal Escapes</h2>
    <div class="arrow">
      <img src="src/img/logos/pil-4@2x.png" alt="Royal Escapes logo" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 15rem;
  }
  /* .container {
    position: relative;
    height: 700px;
    width: 300px;
    background-color: #252525;
  } */
  .arrow img {
    position: relative;
    top: -60px;
    left: -30px;
  }
  img {
    width: 700px;
    height: auto;
  }

  h2 {
    position: relative;
    left: 50%;
    top: -50px;
  }
</style>
