<section>
  <div class="container">
    <div class="arrow">
      <h2>Oplevelser hos Royal Escapes</h2>
      <img src="src/img/logos/tiktok_arrow@2x.png" alt="Royal Escapes logo" />
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  /* .container {
    position: relative;
    height: 700px;
    width: 300px;
    background-color: #252525;
  } */
  .arrow img {
    position: relative;
    /* top: -60px; */
    /* left: -30px; */
  }
  img {
    width: 900px;
    height: auto;
  }

  .arrow h2 {
    position: absolute;
    right: 300px;
  }
</style>
